<div class="border border-danger d-none">
    <ul>
        <li><a href="/api/mechaniccentres" target="_blank">API all mechanic centres</a></li>
        <li><a href="/api/services" target="_blank">API all services</a></li>
        <li><a href="/api/mechaniccenterservices" target="_blank">API all mechanic centre services</a></li>
        <li><a href="/api/mechaniccenterordinaryhours" target="_blank">API all mechanic hours</a></li>
        <li><a href="/api/appointments" target="_blank">API all appointments</a></li>
    </ul>
</div>
