<style>
    button:focus {
        outline: none;
        box-shadow: none;
    }
</style>

<!-- Modal -->
<div class="modal fade show d-block" id="mechanicModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header border-bottom-0 pb-0">
                <h5 class="modal-title" id="modalMechanicName"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="modalPhone" class="mb-0"></p>
                <p id="modalAddress1" class="mb-0"></p>
                <p id="modalAddress2" class="mb-0"></p>
                <p id="modalDistance" class="mb-0"></p>
                <div class="d-flex no-gutters" style="max-height: 300px; max-width: 100%; overflow-y: auto; overflow-x: hidden;">
                    <div class="col">
                        <button>9:30</button>
                        <button>10:30</button>
                        <button>11:30</button>
                        <button>12:30</button>
                        <button>13:30</button>
                        <button>14:30</button>
                        <button>15:30</button>
                        <button>16:30</button>
                        <button>17:30</button>
                        <button>18:30</button>
                        <button>19:30</button>
                        <button>20:30</button>
                    </div>
                    <div class="border d-flex" style="overflow-x: scroll;">
                        <div class="col">
                            <button>9:30</button>
                            <button>10:30</button>
                            <button>11:30</button>
                            <button>12:30</button>
                            <button>13:30</button>
                            <button>14:30</button>
                            <button>15:30</button>
                            <button>16:30</button>
                            <button>17:30</button>
                            <button>18:30</button>
                            <button>19:30</button>
                            <button>20:30</button>
                        </div>
                        <div class="col">
                            <button>9:30</button>
                            <button>10:30</button>
                            <button>11:30</button>
                            <button>12:30</button>
                            <button>13:30</button>
                            <button>14:30</button>
                            <button>15:30</button>
                            <button>16:30</button>
                            <button>17:30</button>
                            <button>18:30</button>
                            <button>19:30</button>
                            <button>20:30</button>
                        </div>
                        <div class="col">
                            <button>9:30</button>
                            <button>10:30</button>
                            <button>11:30</button>
                            <button>12:30</button>
                            <button>13:30</button>
                            <button>14:30</button>
                            <button>15:30</button>
                            <button>16:30</button>
                            <button>17:30</button>
                            <button>18:30</button>
                            <button>19:30</button>
                            <button>20:30</button>
                        </div>
                        <div class="col">
                            <button>9:30</button>
                            <button>10:30</button>
                            <button>11:30</button>
                            <button>12:30</button>
                            <button>13:30</button>
                            <button>14:30</button>
                            <button>15:30</button>
                            <button>16:30</button>
                            <button>17:30</button>
                            <button>18:30</button>
                            <button>19:30</button>
                            <button>20:30</button>
                        </div>
                        <div class="col">
                            <button>9:30</button>
                            <button>10:30</button>
                            <button>11:30</button>
                            <button>12:30</button>
                            <button>13:30</button>
                            <button>14:30</button>
                            <button>15:30</button>
                            <button>16:30</button>
                            <button>17:30</button>
                            <button>18:30</button>
                            <button>19:30</button>
                            <button>20:30</button>
                        </div>
                        <div class="col">
                            <button>9:30</button>
                            <button>10:30</button>
                            <button>11:30</button>
                            <button>12:30</button>
                            <button>13:30</button>
                            <button>14:30</button>
                            <button>15:30</button>
                            <button>16:30</button>
                            <button>17:30</button>
                            <button>18:30</button>
                            <button>19:30</button>
                            <button>20:30</button>
                        </div>
                        <div class="col">
                            <button>9:30</button>
                            <button>10:30</button>
                            <button>11:30</button>
                            <button>12:30</button>
                            <button>13:30</button>
                            <button>14:30</button>
                            <button>15:30</button>
                            <button>16:30</button>
                            <button>17:30</button>
                            <button>18:30</button>
                            <button>19:30</button>
                            <button>20:30</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>



<nav class="navbar bg-dark navbar-dark sticky-top" style="border-bottom: 5px solid white;">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="position-absolute d-flex justify-content-center align-items-center"
        style="left: 50%; top: 0px; height: 58px; transform: translateX(-50%);">
        <a href="/" class="d-none d-md-block text-light m-4 text-nowrap link-light">Mechanics</a>
        <a href="/" class="d-none d-md-block text-light text-nowrap link-light">Services</a>
        <a class="navbar-brand mx-5" href="/">
            <h1><u>AUTOMENDER</u></h1>
        </a>
        <a href="/" class="d-none d-md-block text-light text-nowrap link-light">Blog</a>
        <a href="/" class="d-none d-md-block text-light m-4 text-nowrap link-light">About us</a>
    </div>

    <div class="collapse navbar-collapse d-md-none" id="navbarNavDropdown">
        <ul class="navbar-nav visibility-none d-md-none">
            <li class="nav-item">
                <a class="nav-link text-light link-light" href="/">Mechanics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light link-light" href="/">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light link-light" href="/">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light link-light" href="/">About us</a>
            </li>
        </ul>
    </div>
</nav>



<div class="card col-8 offset-2 bg-white p-5 mt-5 mb-5 rounded">
    <div class="card-body p-0">
        <div class="mb-5">
            <h2>Book Appointment</h2>
            <p>Find a mechanic</p>
        </div>

        <form id="locationForm" class="form-group">
            <label for="locationInput">Enter an address or suburb</label>
            <div class="input-group">
                <input type="text" class="form-control text-truncate" id="locationInput" name="location"
                    placeholder="20 Pitt Street Sydney OR Redfern">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-dark">SEARCH</button>
                </div>
            </div>
        </form>
        <p id="addressOutput" class="mb-3 small text-muted" style="height: 1.6rem;"></p>


        <div id="mechanicCentresList" class="row bg-light py-2 rounded border mb-5 d-none"
            style="max-height: 300px; overflow-y: auto;">
        </div>

        <button id="buttonBack" class="btn btn-dark customerFormButton">BACK</button>
        <button id="buttonNext" class="btn btn-dark customerFormButton d-none">NEXT</button>
    </div>
</div>


<script src="/js/appointmentFinder.js"></script>