{{!navbar}}
<div class="customer">
    <div class="container-fluid">
        <nav class="navbar navbar-light bg-light sticky-top">
            <span class="navbar-brand mb-0 h1">{{msg}}</span>
        </nav>
    </div>
</div>

{{!form}}
<div class="row">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Repair Request</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>