<nav class="navbar navbar-light bg-light sticky-top">
    <span class="navbar-brand mb-0 h1">automender</span>
</nav>
<div class="container">
    <div class="row">
        <form class="mx-auto">
            <div class="form-group">
                    <label for="mechanicShopName">Shop Name</label>
                    <input type="text" class="form-control" id="mechanicShopName" placeholder="What's the name of your shop?">
                </div>
            <div class="form-group">
                <label for="mechanicCount">Number of Mechanics</label>
                <input type="number" class="form-control" id="mechanicCount" placeholder="How many mechanics work in your shop?">
            </div>
            <div class="form-group">
                    <label for="mechanicEmail">Email</label>
                    <input type="email" class="form-control" id="mechanicEmail" placeholder="Email">
                </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="newMechanicPW">Password</label>
                    <input type="password" class="form-control" id="newMechanicPW" placeholder="Enter New Password">
                </div>
                <div class="form-group col-md-6">
                    <label for="newMechanicPWConfirm">Confirm Password</label>
                    <input type="password" class="form-control" id="newMechanicPWConfirm" placeholder="Confirm New Password">
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress">Address</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
            <div class="form-group">
                <label for="inputAddress2">Address 2</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" id="inputCity">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputState">State</label>
                    <select id="inputState" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputZip">Zip</label>
                    <input type="text" class="form-control" id="inputZip">
                </div>
            </div>
            <button type="submit" class="btn btn-primary" id="createNewAccount">Create Account</button>
        </form>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>