{{!navbar}}
<div class="customer">
    <div class="container-fluid">
        <nav class="navbar navbar-light bg-light sticky-top">
            <span class="navbar-brand mb-0 h1">{{msg}}</span>
        </nav>
    </div>
</div>
{{!form}}
<div class="container-fluid">
    <div class="card">
        <div class="card-body">

            <form>
                <div class="form-group">
                    <label for="custName">Name</label>
                    <textarea class="form-control" id="custName" placeholder="Name as shown on your license"></textarea>
                </div>

                <div class="form-group">
                    <label for="licenseNumber">License Number</label>
                    <textarea class="form-control" id="licenseNumber"></textarea>
                </div>
                <div class="form-group">
                    <label for="emailAddress">Email Address</label>
                    <input type="email" class="form-control" id="emailAddress" placeholder="johndoe@emails.com">
                </div>

                <div class="form-group">
                    <label for="phoneNumber">Phone Number</label>
                    <textarea class="form-control" id="phoneNumber"
                        placeholder="Name as shown on your license"></textarea>
                </div>
            </form>
        </div>
    </div>
</div>