{{!navbar}}
<div class="brokenDeets">
    <nav class="navbar container-fluid text-center sticky-top">
        <span class="navbar-brand mb-0 h1 col-md-4 offset-md-4">
            <h1>AUTOMENDER</h1>
        </span>
    </nav>
    {{!form}}
    <div class="background">
        <div class="card col-8 offset-2">
            <div class="card-body">
                <div class="row"></div>
                <h5 class="card-title">REPAIR REQUEST</h5>
                <p class="card-text"></p>
            </div>
            <form id="customerForm">
                <div class="row">
                    <div class="col-5 offset-1">
                        {{!<div class="form-group">
                                <label for="custName">NAME</label>
                                <textarea class="form-control" id="custName" name="custName"
                                    placeholder="Name as shown on your license"></textarea>
                            </div>}}

                        <div class="form-group">
                            <label for="customerEmail">EMAIL ADDRESS</label>
                            <input type="email" class="form-control" id="customerEmail" name="customerEmail"
                                placeholder="johndoe@emails.com">
                        </div>

                        <div class="form-group">
                            <label for="customerPhone">PHONE NUMBER</label>
                            <textarea class="form-control" id="customerPhone" name="customerPhone"
                                placeholder="Name as shown on your license"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="carMake">CAR MAKE</label>
                            <textarea class="form-control" id="carMake" name="carMake"
                                placeholder="Eg. Toyota, Honda, Volswagon"></textarea>
                        </div>
                    </div>

                    <div class="col-5">
                        <div class="form-group">
                            <label for="carModel">CAR MODEL</label>
                            <textarea class="form-control" id="carModel" name="carModel"
                                placeholder="Eg. Sedan, Convertible, SUV"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="carPlate">LICENSE PLATE NUMBER<label>
                            <textarea class="form-control" id="carPlate" name="carPlate"
                                placeholder="Name as shown on your license"></textarea>
                        </div>
                        
                        <div class="form-group">
                            <label for="serviceRequest">
                                <label for="serviceRequest">SERVICES NEEDED</label>
                                <select class="form-control" id="serviceRequest" name="serviceRequest">
                                    {{!<option name="1">1 Wheel Alignment</option>
                                    <option name="2">2 Type Replacement</option>
                                    <option name="3">3 Battery Replacement</option>
                                    <option name="4">4 Servicing</option>
                                    <option name="5">5 Window Tinting</option>}}
                                </select>
                        </div>
                

                        <div class="form-group">
                            <label for="customerNotes">ADDITIONAL NOTES</label>
                            <textarea class="form-control" id="customerNotes" name="customerNotes" rows="2"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <a href="#" type="submit" class="btn btn-primary">SUBMIT</button>
                </div>
            </form>
        </div>
    </div>
</div>

</div>
<script src="/js/formdetails.js"></script>
</div>