<div id="home">
  <div class="container-fluid">
    <nav class="navbar navbar-light bg-light sticky-top">
      <span class="navbar-brand mb-0 h1">Navbar</span>
    </nav>
  </div>

  <button type="button" class="btn btn-secondary btn-lg btn-block mechanicBtn">Mechanic</button>
  <button type="button" class="btn btn-secondary btn-lg btn-block customer">Customer</button>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
