<div id="home">
  {{!navbar}}
    <nav class="navbar navbar-expand-lg .align-content-start sticky-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item nav-link align-middle smaller" href="#">
                    ABOUT US
                </li>
                <li class="nav-item nav-link align-middle smaller" href="#">
                    SERVICES
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-brand align-middle" href="#">
                        <h1><u>AUTOMENDER</u></h1>
                    </a>
                </li>
                <li class="nav-item nav-link align-middle smaller" href="#">
                    MECHANICS
                </li>
                <li class="nav-item nav-link align-middle smaller" href="#">
                    BLOG
                </li>
            </ul>
        </div>
    </nav class=".align-content-end">
    {{!form}}
  
  <div class="card col-4 offset-4 frontCard">
    <div class="card-body text-center">
      <a href="form" class="btn btn-secondary btn-lg btn-block customerButton">CUSTOMER</a>
      <a id="mechanicPortal" href="/login" class="btn btn-secondary btn-lg btn-block mechanicButton">MECHANIC</a>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/homepage.js"></script>


