<div id="home">
  <nav class="navbar container-fluid text-center sticky-top">
    <span class="navbar-brand mb-0 h1 col-md-4 offset-md-4">
      <h1><u> AUTOMENDER </u></h1>
    </span>
  </nav>
  <div class="card col-4 offset-4 frontCard">
    <div class="card-body text-center">
      <a href="/form" class="btn btn-secondary btn-lg btn-block customerButton">CUSTOMER</a>
      <a href="/login" class="btn btn-secondary btn-lg btn-block mechanicButton">MECHANIC</a>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

