<div id="home">
    {{!navbar}}
    <nav class="navbar navbar-expand align-content-start sticky-top">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto d-flex flex-wrap">
                <li class="nav-item nav-link align-middle smaller order-12" href="">
                    ABOUT US
                </li>
                <li class="nav-item nav-link align-middle smaller order-11" href="">
                    SERVICES
                </li>
                <li class="nav-item order-0 col-12">
                    <a class="nav-link navbar-brand align-middle" href="">
                        <h1><u>AUTOMENDER</u></h1>
                    </a>
                </li>
                <li class="nav-item nav-link align-middle smaller order-10" href="">
                    MECHANICS
                </li>
                <li class="nav-item nav-link align-middle smaller order-9" href="">
                    BLOG
                </li>
            </ul>
        </div>
    </nav>

    <div class="card col-4 offset-4 frontCard">
        <div class="card-body text-center">
            <a href="form" class="btn btn-dark btn-lg btn-block">CUSTOMER</a>
            <a id="mechanicPortal" href="/login" class="btn btn-dark btn-lg btn-block mechanicButton">MECHANIC</a>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/homepage.js"></script>