<nav class="navbar navbar-light bg-light sticky-top">
    <span class="navbar-brand mb-0 h1 mr-auto">automender</span>
    <button id="logout" class="mr-1 btn btn-primary d-none" style="transform: scale(0.8);">Sign Out</button>
    <a href="/account" class="mr-0"><img src="/images/setting.png"></a>
</nav>
<div class="container pt-4">
    <div class="row">
        <div class="col-md-6" id="scheduleSection">
            <div class="row">
                <div class="input-group mb-3 col-md-8">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Date</span>
                    </div>
                    <input type="date" class="form-control" aria-label="Selected date for time slots"
                        aria-describedby="inputGroup-sizing-default" id="selectedMechanicDate" value="2019-11-10">
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary" id="newDateBtn">Go</button>
                </div>
            </div>
            <div class="row">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Time</th>
                            <th scope="col">Availability</th>
                        </tr>
                    </thead>
                    <tbody id="scheduleBody">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6" id="scheduleDetails" align="center">
            <h3>Time Slot Details</h3>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>

<script>
    var credentials = JSON.parse(localStorage.getItem("credentials"));

    function renderTable() {
        $("#scheduleBody").empty();
        console.log($("#selectedMechanicDate").val());
        var mechanicID = 1;
        var scheduleDate = $("#selectedMechanicDate").val();
        var timeSlots;

        $.ajax({
            type: "POST",
            url: "/api/viewmechaniccentreappointments",
            data: credentials
        }).done(function (data) {
            var appointments = [];
            console.log(moment().format());
            data.forEach(function(appointment) {
                appointments.push(appointment);
            });

            console.log(appointments);

            $.get("api/mechaniccentreordinaryhours/" + mechanicID + "/" + scheduleDate, function (data) {
                timeslots = data;

                for (i = 0; i < timeslots.length; i++) {
                    var bookedAppointments = 0;
                    var tableDataClass;
                    appointments.forEach(function(appointment) {
                        if (moment(appointment.appointment_date, "YYYY-MM-DD") == moment(timeslots[i].slotDate, "YYYY-MM-DD") && moment(appointment.appointment_time,"HH:mm:ss") >= moment(timeslots[i].startTime,"HH:mm:ss") && moment(appointment.appointment_time,"HH:mm:ss") < moment(timeslots[i].endTime,"HH:mm:ss")) {
                            bookedAppointments += 1;
                        }
                    });
                    if (bookedAppointments > 0) {
                        tableDataClass = "bg-warning timeslot"
                    } else {
                        tableDataClass = "table-success timeslot"
                    };
                    var tableRow = `<tr>`;
                    var tableRowTitle = `<th scope="row">` + moment(timeslots[i].startTime, "HH:mm:ss").format("hh:mm A") + `</th>`;
                    var tableRowData = `<td class="` + tableDataClass + `" data-date = ` + timeslots[i].slotDate + `data-starttime=` + timeslots[i].startTime + ` data-endTime=` + timeslots[i].endTime + `>` + bookedAppointments+ ` appointment(s)</td></tr>`;
                    tableRow += tableRowTitle;
                    tableRow += tableRowData;
                    console.log(tableRow);
                    $("#scheduleBody").append(tableRow);
                };
            });
        });
    };

    window.onload = renderTable;

    $("#newDateBtn").on("click", renderTable);
</script>