{{!navbar}}
<div class="mechanic">
    <div class="container-fluid">
        <nav class="navbar navbar-light bg-light sticky-top">
            <span class="navbar-brand mb-0 h1">{{msg}}</span>
        </nav>
    </div>
</div>