<nav class="navbar navbar-light bg-light sticky-top">
    <span class="navbar-brand mb-0 h1">automender</span>
</nav>
<div class="container-fluid">
    <div class="col-md-6 mx-auto pt-3">
        <div id="mechanicLoginForm">
            <form>
                <div class="form-group">
                    <label for="mechanicUsername">Email address</label>
                    <input type="email" class="form-control" id="mechanicUsername" aria-describedby="emailHelp"
                        placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="mechanicPassword">Password</label>
                    <input type="password" class="form-control" id="mechanicPassword" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary" id="mechanicLoginBtn">Login</button>
            </form>
        </div>
        <div class="createAccount">
            <a href="create-account">New user? Create a new account.</a>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>