<nav class="navbar navbar-light bg-light sticky-top">
    <span class="navbar-brand mb-0 h1">automender</span>
    <a href="account" align="right"><img src="/images/setting.png"></a>
</nav>
<div class="container pt-4">
    <div class="row">
        <div class="col-md-6" id="scheduleSection">
            <div class="row">
                <div class="input-group mb-3 col-md-8">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Date</span>
                    </div>
                    <input type="date" class="form-control" aria-label="Selected date for time slots"
                        aria-describedby="inputGroup-sizing-default" id="selectedMechanicDate" value="2019-11-10">
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary" id="newDateBtn">Go</button>
                </div>
            </div>
            <div class="row">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Time</th>
                            <th scope="col">Availability</th>
                        </tr>
                    </thead>
                    <tbody id="scheduleBody">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6" id="scheduleDetails" align="center">
            <h3>Time Slot Details</h3>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script>
    function renderTable() {
        var mechanicID = 1;
        var timeSlots = 18;
        $.get("api/mechaniccentreordinaryhours/" + mechanicID, function(data) {
            console.log(data);
        });

        for (i = 0; i < timeSlots; i++) {
            var row = `<tr><th scope="row">9:00 AM</th><td class="table-success timeslot" data-time="0900">Available</td></tr>`
            $("#scheduleBody").append(row);
        };
    };

    window.onload = renderTable;

    function appointmentSlots() {
        var scheduleDate = moment();
        var currentDOW = scheduleDate.day();
        var openingTime;
        var closingTime;
        console.log(results);

        switch (currentDOW) {
            case 0:
                openingTime = results[0].sun_start;
                closingTime = results[0].sun_end;
                break;
            case 1:
                openingTime = results[0].mon_start;
                closingTime = results[0].mon_end;
                break;
            case 2:
                openingTime = results[0].tue_start;
                closingTime = results[0].tue_end;
                break;
            case 3:
                openingTime = results[0].wed_start;
                closingTime = results[0].wed_end;
                break;
            case 4:
                openingTime = results[0].thu_start;
                closingTime = results[0].thu_end;
                break;
            case 5:
                openingTime = results[0].fri_start;
                closingTime = results[0].fri_end;
                break;
            case 6:
                openingTime = results[0].sat_start;
                closingTime = results[0].sat_end;
                break;
        }
        console.log(openingTime);
        console.log(closingTime);

        var dailyHours = moment(closingTime, "HH:mm:ss").diff(moment(openingTime, "HH:mm:ss"), "minutes");
        var slotCount = dailyHours / 30;
        console.log(slotCount);

        var appointmentSlots = [];
        var slotStart = moment(openingTime, "HH:mm:ss").format("HH:mm:ss");
        var slotEnd = moment(openingTime, "HH:mm:ss").add(30, "minutes").format("HH:mm:ss");
        console.log(slotStart);
        console.log(slotEnd);

        for (i = 0; i < slotCount; i++) {
            var currentSlot = {
                slotID: i,
                slotDate: scheduleDate.format("YYYY-MM-DD"),
                startTime: slotStart,
                endTime: slotEnd
            };
            appointmentSlots.push(currentSlot);
            slotStart = moment(slotStart, "HH:mm:ss").add(30, "minutes").format("HH:mm:ss");
            slotEnd = moment(slotEnd, "HH:mm:ss").add(30, "minutes").format("HH:mm:ss");
        }
    };
</script>