<nav class="navbar navbar-light bg-light sticky-top">
    <span class="navbar-brand mb-0 h1">automender</span>
    <a href="account" align="right"><img src="/images/setting.png"></a>
</nav>
<div class="container pt-4">
    <div class="row">
        <div class="col-md-6" id="scheduleSection">
            <div class="row">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Date</span>
                    </div>
                    <input type="date" class="form-control" aria-label="Selected date for time slots"
                        aria-describedby="inputGroup-sizing-default" id="selectedMechanicDate" value="2019-11-10">
                </div>
            </div>
            <div class="row">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Time</th>
                            <th scope="col">Availability</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">9:00 AM</th>
                            <td class="table-success timeslot collapsed" data-time="0900">Available</td>
                        </tr>
                        <tr>
                            <th scope="row">9:30 AM</th>
                            <td class="table-success timeslot">Available</td>
                        </tr>
                        <tr>
                            <th scope="row">10:00 AM</th>
                            <td class="table-success timeslot">Available</td>
                        </tr>
                        <tr>
                            <th scope="row">10:30 AM</th>
                            <td class="table-success timeslot">Available</td>
                        </tr>
                        <tr>
                            <th scope="row">11:00 AM</th>
                            <td class="table-success timeslot">Available</td>
                        </tr>
                        <tr>
                            <th scope="row">11:30 AM</th>
                            <td class="table-success timeslot">Available</td>
                        </tr>
                        <tr>
                            <th scope="row">12:00 PM</th>
                            <td class="table-success timeslot">Available</td>
                        </tr>
                        <tr>
                            <th scope="row">12:30 PM</th>
                            <td class="table-success timeslot">Available</td>
                        </tr>
                        <tr>
                            <th scope="row">1:00 PM</th>
                            <td class="table-success timeslot">Available</td>
                        </tr>
                        <tr>
                            <th scope="row">1:30 PM</th>
                            <td class="table-success timeslot">Available</td>
                        </tr>
                        <tr>
                            <th scope="row">2:00 PM</th>
                            <td class="table-success timeslot">Available</td>
                        </tr>
                        <tr>
                            <th scope="row">2:30 PM</th>
                            <td class="table-success timeslot">Available</td>
                        </tr>
                        <tr>
                            <th scope="row">3:00 PM</th>
                            <td class="table-success timeslot">Available</td>
                        </tr>
                        <tr>
                            <th scope="row">3:30 PM</th>
                            <td class="table-success timeslot">Available</td>
                        </tr>
                        <tr>
                            <th scope="row">4:00 PM</th>
                            <td class="table-success timeslot">Available</td>
                        </tr>
                        <tr>
                            <th scope="row">4:30 PM</th>
                            <td class="table-success timeslot">Available</td>
                        </tr>
                        <tr>
                            <th scope="row">5:00 PM</th>
                            <td class="table-success timeslot">Available</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6" id="scheduleDetails" align="center">
            <h3>Time Slot Details</h3>
            {{#each appointmentSlots}}
            <p>{{this.id}}</p>
            {{/each}}
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
