body{ 
  min-height: 100vh;
  background: #262424;
  font-family: 'Roboto', sans-serif;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.navbar {
  background: #171616;
  height: 10%;
}

h1 {
  font-family: 'Montserrat Subrayada', sans-serif;
  margin: 0 auto;
}

u {
  color: #E6E6E6;
}

u:hover {
  color: #FFFFFF;
}

.btn-lg {
  color: #707070;
  background-color: #141414;
}

.btn-lg:hover {
  color: #FFFFFF;
  background-color: #000000;
}

/*might need to change name*/
.card {
  background: rgba(0, 0, 0, 0.4);
}

label {
  color:#007bff;
}

.frontCard { 
  height: 40%;
  margin-top: 12%;
}

.list-group-item {
  line-height: 2.5;
}

.timeslot{
  cursor: pointer;
}

/* can re-add if needed, needed to change text colour
.btn {
  background: #171616;
  color: #FFFFFF;
}

.btn:hover {
  background: #000000;
  color: #FFFFFF;
}*/

#scheduleSection, #scheduleDetails {
  background-color: #FFFFFF;
}

