body{ 
  min-height: 100vh;
  background: #262424;
  font-family: 'Roboto', sans-serif;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

h1 {
  font-family: 'Montserrat Subrayada', sans-serif;
  margin: 0 auto;
}

label {
  color:#007bff;
}

.frontCard { 
  height: 40%;
  margin-top: 12%;
}

/*might need to change name*/
.card {
  background: rgba(255, 255, 255, 0.4);
}

.list-group-item {
  line-height: 2.5;
}

.timeslot{
  cursor: pointer;
}

.btn {
  background: #171616;
  color: #FFFFFF;
}

.btn:hover {
  background: #000000;
  color: #FFFFFF;
}

.navbar {
  background: #171616;
  color: #FFFFFF;
  height: 10%;
}

#scheduleSection, #scheduleDetails {
  background-color: #FFFFFF;
}

.hourLabel {
  font-weight: bold;
}

