body{ 
  min-height: 100vh;
  background: #262424;
  font-family: 'Roboto', sans-serif;
  background: url("../images/background.jpg"), rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-width: 400px;
  overflow-x: hidden;
}

h1 {
  font-family: 'Montserrat Subrayada', sans-serif;
  margin: 0 auto;
}

.navbar.navbar-dark {
  background: #171616 !important;
}
.navbar-toggler {
  visibility: hidden;
}

a.link-light {
  color: rgb(230, 230, 230) !important;
  text-decoration: none;
  transition: 0.2s ease all; 
}
a.link-light:hover {
  color: white !important;
  text-decoration: none;
}

@media(max-width: 576px) {
  h1 {
    font-size: 20px;
  }
}

@media(max-width: 576px) {
  .page.rounded {
    border-radius: 0px !important;
  }  
}

@media(max-width: 768px) {
  .navbar-toggler {
    visibility: visible;
  }  
}







.btn-lg {
  color: #DDDDDD;
  background-color: #141414;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: 0.2s ease all; 

}

.btn-lg:hover {
  background-color: #000000;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 1);
}

.btn-lg:focus {
  background-color: #000000;
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  border: 1px solid rgba(255, 255, 255, 1) !important;
}

/*might need to change name*/
.card {
  background: rgba(0, 0, 0, 0.4);
  background: rgba(255, 255, 255, 0.4);
}

label {
  color:#007bff;
}

.frontCard { 
  /* height: 40%; */
  /* margin-top: 12%; */
}

.list-group-item {
  line-height: 2.5;
}

.timeslot{
  cursor: pointer;
}

/* can re-add if needed, needed to change text colour
.btn {
  background: #171616;
  color: #FFFFFF;
}

.btn:hover {
  background: #000000;
  color: #FFFFFF;
}*/

#scheduleSection, #scheduleDetails {
  background-color: #FFFFFF;
}

.hourLabel {
  font-weight: bold;
}



